---
title: the jam zone
layout: layouts/base.njk
---

<div class="homepage">

<main>
    <h1>hello!</h1>
    <p>I'm Jam, a student developer from Singapore.
    I'm interested in front-end development, history, palaeontology, video games, crochet and knitting.</p>
    <p>This is my little corner on the web. It's a work-in-progress, so expect a lot of changes along the way.</p>
    <p>I'm autistic, chronically ill and hearing-impaired, and these things colour my experience of the world.</p>
    <p>You can find me elsewhere on the <a rel="me" href="https://hol.ogra.ph/@jam">Fediverse</a> or on <a href="https://matrix.to/#/@jam:envs.net">Matrix</a>.</p>
</main>

<section>
    <h2>activity</h2>
    <div class="now">
        <div class="activity">
            <div class="subtitle">reading</div>
            <div class="title">The Maid, by Nita Prose</div>
        </div>

        <div class="activity">
            <div class="subtitle">watching</div>
            <div class="title">My Demon</div>
        </div>

        <div class="activity">
            <div class="subtitle">album on repeat</div>
            <div class="title">Hold the Girl, by Rina Sawayama</div>
        </div>
    </div>
</section>

</div>