<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/mononoki" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/uacari-legacy" type="text/css"/>
    <title>{{ site.title }} / {{ title }}</title>
  </head>
  <body>
    <div class="container">
      <header>{% include "nav.njk" %}</header>
      <main>
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </main>
    </div>
    <footer>{% include "footer.njk" %}</footer>
  </body>
</html>